[Unit]
Description = pfs announce: master
PartOf = master-11-24.service
BindsTo = master-11-24.service

[Service]
ExecStart = /bin/sh -c "while true; do etcdctl set /pfs/master/11-24 '%H:55108' --ttl 60;sleep 45;done"
ExecStop = /usr/bin/etcdctl rm /pfs/master/11-24

[X-Fleet]
MachineOf = master-11-24.service
